@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS personnalisé */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

h1 {
  font-size: 2rem;
  color: #ff4081; /* Une couleur inspirée de la K-pop */
}

.menu-button {
  margin-right: 10px; /* Décale le bouton menu vers la gauche */
}

.nav-links {
  margin-left: 50px; /* Décale les liens Home, News, Events */
}

/* Rendre les flèches visibles en noir */
.slick-prev:before,
.slick-next:before {
  color: black !important;
  font-size: 30px;
}

/* Éloigner les flèches du contenu */
.slick-prev {
  left: -40px !important;
}

.slick-next {
  right: -40px !important;
}

/* Centrer verticalement les flèches */
.slick-prev,
.slick-next {
  top: 40%;
}